version: "3.8"

services:
  mongo:
    build:
      context: ./mongo
      dockerfile: Dockerfile
    container_name: leap-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: node-backend
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017
    depends_on:
      - mongo
    restart: unless-stopped
    working_dir: /app
    volumes:
        - /app/node_modules
volumes:
  mongo-data:
