
services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: publicnotes-app
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  mongo:
    build:
      context: ./mongo
      dockerfile: Dockerfile
    container_name: publicnotes-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
