services:
  mongo:
    build:
      context: ./mongo
      dockerfile: Dockerfile
    container_name: leap-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: node-backend
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/test_db
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    working_dir: /app
    volumes:
        - ./backend:/app
      
volumes:
  mongo-data:
