apiVersion: v1
kind: ConfigMap
metadata:
  name: haproxy-config
  namespace: default
data:
  haproxy.cfg: |
    global
      daemon
      maxconn 256

    defaults
      mode http
      timeout connect 5000ms
      timeout client  50000ms
      timeout server  50000ms

    frontend http_front
      bind *:80
      default_backend http_back

    backend http_back
      balance roundrobin
      server app1 app-service:3000 check

    listen stats
      bind *:8404
      stats enable
      stats uri /stats
      stats refresh 10s
      stats show-node
      stats auth admin:admin


